* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}


.box {
  width: 200px;
  height: 200px;
  color: #fff;
  font-weight: bold;
}


.box1 {
  background-color: red;
  /* color: #454a54; */
  /* margin: 20px; */
  /* margin: 20px 40px; */
  /* margin: 20px 40px 60px; */
  /* margin: 20px 40px 60px 80px; */
  /* margin-top: 10px; */
  /* margin-bottom: 30px; */
  /* border: 1px solid #454a54; */
  /* border-left: 5px solid #454a54; */
  /* margin: 60px; */
  /* border: 5px dotted #454a54; */
  /* border: 5px dashed #454a54; */
  /* border: 5px double #454a54; */
  /* border: 5px inset #dac400; */

  padding: 20px;
}

.box2 {
  background-color: blue;
  /* margin-top: 50px; */
}

a {
  text-decoration: none;
}

.smsm {
  width: 250px;
  height: 250px;
  /* border-radius: 1rem; */
  border-radius: 63% 37% 70% 30% / 32% 58% 42% 68%;
  /* transform: rotate(90deg); */
  /* background-image: url(../images/sama2.png);
  background-position: center;
  background-size: cover; */
  object-fit: cover;
}