header {
  background-image: url(../images/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 150px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

header h1 {
  font-size: 40px
}

section h2 {
  color: #e5478a;
}

.social a {
  text-decoration: none;
  color: #000;
}

.social .fb {
  color: #3b5998;
}

.social .tw {
  color: #1da1f2;
}

.social .yt {
  color: #ff0000;
}